.itemDetailContainer{
    width: 90vw;
    margin: auto;

    display: flex;
    justify-content: center;
    .cargandoContainer{
        margin-top: 200px;
        .cargando{
            font-size: 50px;
        }
    }
}