.itemCart{
    width: 18rem;
    height: 25rem;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 8px;
    background-color: rgb(64, 104, 192);
    .itemCartInner{
        margin: auto;
        color: white;
    }
    .buttonCart{
        border: none;
        padding: 8px;
        margin: 10px ;
        font-size: 15px;
        background-color: rgb(243, 170, 102);
        color: rgb(64, 104, 192);
        border-radius: 10px;
        cursor: pointer;
    }
}

.vaciarCarrito{
    border: none;
    padding: 8px;
    font-size: 15px;
    color: rgb(243, 170, 102);
    background-color: rgb(64, 104, 192);
    border-radius: 10px;
    margin-bottom: 100vh;
    cursor: pointer;
}