.cartWidgetContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    font-size: 25px;
    margin-left: 500px;
    margin-top: 25px;
}

.cartCount{
    color: black;
    font-size: 25px;
    margin: 35px 8px 10px;
}