.itemDetail{
    width: 20rem;
    height: 25rem;
    margin: 2rem;
    padding: 6rem;
    box-shadow: 2px 2px 8px;
    .itemDetailInner{
        margin: auto;
        .itemDetailImg{
            width: 220px;
            height: 250px;
            margin-bottom: 2rem;
            background-color: rgba(128, 128, 128, 0.568);
        }
    }
}