.itemDetail{
    width: 20rem;
    height: 25rem;
    margin: 2rem;
    padding: 6rem;
    background-color: rgb(64, 104, 192);
    box-shadow: 2px 2px 8px;
    .itemDetailInner{
        margin: auto;
        color: white;
        .itemDetailImg{
            width: 220px;
            height: 250px;
            margin-bottom: 2rem;
        }
    }
}

.botonCompra{
    border: none;
    padding: 8px;
    margin: 8px;
    font-size: 15px;
    background-color: rgb(243, 170, 102);
    color: rgb(64, 104, 192);
    border-radius: 10px;
    cursor: pointer;
}